.cell {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 10px;
}

.cell:nth-child(1n+0):not(:nth-child(3n+0)) {
  border-right: 1px dashed black;
}

.cell-row:nth-child(1n+0):not(:nth-child(3n+0)) .cell {
  border-bottom: 1px dashed black;
}
.cell:nth-child(3n+0):not(:nth-child(9n+0)) {
  border-right: 2px solid black;
}

.cell-row:nth-child(3n+0):not(:nth-child(9n+0)) .cell {
  border-bottom: 2px solid black;
}

.cell.active {
    background-color: #ff8;
}