<h1>Hello, world!</h1>
<p>Welcome to your new single-page application, built with:</p>
<div class="container"
     fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center">

    <div *ngFor="let i of [1,2,3,4,5]"
         fxFlex="20%"
         fxFlex.lt-sm="100%">
        <button mat-raised-button color="primary">{{ i }}</button>


    </div>

</div>

<div class="example-button-row">
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
</div>